!src/**/build/
$RECYCLE.BIN/
**/build/
.aws-sam/
.cdk.staging/
.idea/
.idea/**/dataSources/
.idea/sonarlint/
.idea_modules/
.mtj.tmp/
/.aswb/
/.clwb/
/.ijwb/
cdk.out/
cmake-build-*/
lib/
out/
target/
!gradle-wrapper.jar
!gradle-wrapper.properties
*.cab
*.class
*.ctxt
*.ear
*.iml
*.ipr
*.iws
*.jar
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.nar
*.rar
*.stackdump
*.tar.gz
*.war
*.zip
.classpath
.classpath
.gradle
.gradletasknamecache
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/*.iml
.idea/artifacts
.idea/caches/build_file_checksums.ser
.idea/compiler.xml
.idea/httpRequests
.idea/jarRepositories.xml
.idea/modules
.idea/modules.xml
.idea/replstate.xml
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.project
.project
/bazel-*
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
atlassian-ide-plugin.xml
buildNumber.properties
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dependency-reduced-pom.xml
ehthumbs.db
ehthumbs_vista.db
fabric.properties
gradle-app.setting
hs_err_pid*
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
replay_pid*
